@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}


/* antd select box */
/* 
.ant-select-selector{
  height: 35px !important;
  outline: none !important;
  border: 2px solid #82237c !important;
  background: WHITE !important;
  padding: 20px 10px !important;
  border-radius: 5px !important;
  transition: .5s !important;
  font-size: 20px !important;
} */