@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}


/* antd select box */
/* 
.ant-select-selector{
  height: 35px !important;
  outline: none !important;
  border: 2px solid #82237c !important;
  background: WHITE !important;
  padding: 20px 10px !important;
  border-radius: 5px !important;
  transition: .5s !important;
  font-size: 20px !important;
} */


button.ant-btn.css-dev-only-do-not-override-1e3x2xa.ant-btn-primary{
  color: black;
  background-color: none;
}

/* button.ant-btn.css-dev-only-do-not-override-1e3x2xa.ant-btn-primary:hover{
  background-color: transparent;
  border:2px solid rgb(135, 178, 235);
} */

button,
[type='button'],
[type='reset'],
[type='submit']{
  color: red;
}

