#shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#shadow2{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 100px;
}



.spinner {
  width: 45px;
  height: 45px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
  margin-left: 30px;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: rgb(168, 16, 168) #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}